<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.wordart.com/wordart.min.js" async defer></script>
    </script>
    <link rel="stylesheet" href="/styles/global.css">
    <title>404</title>
</head>
<body>
    <header class="main-heder">
        <nav class="main-heder-nav">
            <ul class="main-heder-item-list">
                <li class="main-heder-item"><a href="/">🛒Tienda</a></li>
                <li class="main-heder-item"><a class="active" href="/admin/add-product">➕ Agregar Producto</a></li>
            </ul>
        </nav>
    </header>
    <!-- <div><button><a href="/">Volver</a></button></div> -->
    <div  style="max-width: 90%; max-height: 90%;" data-wordart-src="//cdn.wordart.com/json/k1ashrk3p4rf" ></div>
   
    
</body>
</html>