<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <head>
        <nav>
            <u>
                <li><a href="/">🛒Tienda</a></li>
                <li><a href="/add-poduct">➕ Agregar Producto</a></li>
            </u>
        </nav>
    </head>
    <main>
        <form action="add-product" method="POST">
            <label for= "product-name"> ☕ Nombre del poducto </label>
            <input type= "text" name= "name" id="product-name">
            <button type="submit">☕ Add Product</button>
            </form>
    </main>
</body>
</html>