<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <head>
        <nav>
            <u>
                <li><a href="/">🛒Tienda</a></li>
                <li><a href="/add-poduct">➕ Agregar Producto</a></li>
            </u>
        </nav>
    </head>
    <main>
        <h1>  Mis productos</h1>
        <ul>
            <li>Lista de productos</li>
            <li>Lista de productos</li>
            <li>Lista de productos</li>
            <li>Lista de productos</li>
            <li>Lista de productos</li>
        </ul>
    </main>
</body>
</html>