<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <title>Products</title>
</head>
<body>
    <header class="main-heder">
        <nav class="main-heder-nav">
            <ul class="main-heder-item-list">
                <li class="main-heder-item"><a class="active" href="/">🛒Tienda</a></li>
                <li class="main-heder-item active"><a href="/admin/add-product">➕ Agregar Producto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>  Mis productos</h1>
        <ul>
            <li>Lista de productos</li>
            <li>Lista de productos</li>
            <li>Lista de productos</li>
            <li>Lista de productos</li>
            <li>Lista de productos</li>
        </ul>
    </main>
</body>
</html>